
<h1>General- Chat</h1>
<section class="chatSection">
    <div class="messageP"id="messageLogs"></div>
    <div class="chatBoxDiv">
    <input id="chatBox" class="chatBox">
    <img type="button" src="../img/876828.png" id="btnChatBox"class="btnChatBox" width="15px"></img>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script><!-- activamos sweetalert importamos la dependencia de manera publica -->
<script src="/socket.io/socket.io.js"></script><!--Archivo de Node Modules para usar Socket.io -->
<script src="/js/chat.js"></script> <!-- Archivo de la carpeta public es como poner href="localhost:8080...public/js/index.js"  -->