<div>
    <h1>Inyección de cookies</h1>
    <form id="cookieForm">
        <label for="name">Nombre</label>
        <input name="name">
        <label for="email">Correo electrónico</label>
        <input email="email">
        <input type="submit">
    </form>
    <button onclick="getCookie()"> Obtener cookie</button>
</div>

<script src="/js/cookieSetter.js"></script>