

<div>
    <h1> Dashboard - Admin con Socket.IO</h1>
    <h2>Solo Admin Autorizado</h2>
    <a href="/views/products"><button>Ir a productos</button></a>
    <a href="/views/profile"><button>Ir a perfil</button></a>

     {{#if role}}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Code</th>
                <th>Price</th>
                <th>Status</th>
                <th>Stock</th>
                <th>Category</th>
                <th>ID</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="container">

        </tbody>
    </table>

    <div>
        <form id="formRealTime" class="formul">
        <label for="title">Titulo: </label>
        <input type="text" name="title" id="title" required autocomplete="off">
          <label for="description">Descripcion: </label>
        <input type="text" name="description" id="description" required autocomplete="off">
          <label for="code">Codigo: </label>
        <input type="number" name="code" id="code" required autocomplete="off">
          <label for="price">Precio: </label>
        <input type="number" name="price" id="price" required autocomplete="off">
          <label for="stock">Stock: </label>
        <input type="number" name="stock" id="stock" required autocomplete="off">
          <label for="category">Categoria: </label>
        <input type="text" name="category" id="category" required autocomplete="off">
        <button class="btnEnviar" type="submit">Enviar</button>
        <button id="btnLimpiar" class="btnLimpiar" type="button">Limpiar</button>
</form>
    </div>
</div>
 {{/if}}



<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>