<div>
    <h1>perfil Info</h1>
    <p>Nombre y apellido:{{user.first_name}}</p>
    <p>Email:{{user.email}}</p>
    <p>Edad:{{user.age}}</p>
    {{#if role}}
    <p>Role: Admin</p>
    <a href="/views/dashboard"><button>Ir al editor de productos</button></a>
    <a href="/views/users"><button> Ir a Usuarios</button></a>
   {{/if}}
   <a href="/views/products"><button>Ir a productos</button></a>
    <a href="/views/chat"><button>Ir al Chat</button></a>
    <a href="/api/sessions/logout"><button>Salir</button></a>


</div>
