

<div>
    <h1> LISTA CON SOCKET.IO</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Code</th>
                <th>Price</th>
                <th>Status</th>
                <th>Stock</th>
                <th>Category</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody id="container">

        </tbody>
    </table>
</div>

<script src="/socket.io/socket.io.js"></script><!--Archivo de Node Modules para usar Socket.io -->
<script src="/js/index.js"></script>