<div class="content-all-formregister">
<div class="content-form-register">
    <h1>Registro</h1>
    <form class="registerForm" id="registerForm">
        <label>Nombre</label>
        <input name="first_name">
        <br/>
        <label>Apellido</label>
        <input name="last_name">
        <br/>
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Edad</label>
        <input name="age">
        <br/>
        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>
    <p>¿Ya tienes una cuenta? <a href="/views/login">Ingresa aquí</a></p>
</div>
</div>
<script src="/js/register.js"></script>