
<div class="content-all-recu-pass">
<div class="content-recup-contrasena">
    <h1>Resetear Contraseña</h1>
    <form id="resetForm" class="loginForm">
        <label>Email</label>
        <input name="email">

        <label>Nueva Contraseña</label>
        <input type="password" name="password">
        <input type="submit" class="btnLoginEnviar">
    </form>
        <p><a href="/views/login">volver al inicio</a></p>
</div>
</div>
<script src="/js/reset.js"></script>
