<div class="contentLogin">
    <h1>Resetear Contraseña</h1>
    <form id="resetForm" class="loginForm">
        <label>Email</label>
        <input name="email">

        <label>Nueva Contraseña</label>
        <input type="password" name="password">
        <input type="submit" class="btnLoginEnviar">
    </form>
<script src="/js/reset.js"></script>
