h1{
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}


thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}


.formul{
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
   
}

label{
    color: black;
    font-weight:900;
    margin-bottom: 5px;
    margin-top: 5px;
}


.chatSection{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.chatBoxDiv{
  position: relative;
    right: 10rem;
}

.btnEnviar{
    margin-top: 10px;
    align-items: center;
}


.chatBox{
    width: 200px;
    position: relative;
    top: 5.4rem;
    border-image: linear-gradient( to bottom, #777777, rgb(125 125 125) ) 1;
    color: #a29586;
    background-color: #27272a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  
  
  }

  .seccionMensaje{
    max-width: 60%;
    display: flex;
    margin: 2px;
    min-width: 4rem;
    padding: 3px 5px;
    background-color: rgb(245, 245, 245);
    color: #333;
    border-radius: 5px;
    word-wrap: break-word;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .messageP{
  
    display: flex;
    top: 4rem;
    max-width: 54%;
    position: relative;
    width: 34rem;
    height: 29rem;
    margin: 0;
    padding: 0.3rem;
    color: #ae9e8e;
    overflow-y: scroll;
    overflow-x: hidden;
    background: url('../img/whatsapp.jpg');
    background-size: cover;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient( to bottom, #777777, rgb(125 125 125) ) 1;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;

}

.messageP::-webkit-scrollbar{
    width: 10px;
    height: 10px;
   

}

/* Track */
.messageP::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid #5c5d5c;
    border-radius: 1rem;
  }


   
  /* Handle */
  .messageP::-webkit-scrollbar-thumb {
    margin: 5px;
    padding: 5px;
    background: #403e3e;
    width: 1px;
    border-radius: 20%;
  }
  
  /* Handle on hover */
  .messageP::-webkit-scrollbar-thumb:hover {
    background: #5c5d5c; 
  }

  .messageP::-webkit-scrollbar-arrow {
    background-color: #ccc;
  }

  .btnChatBox{
    position: relative;
    z-index: 11;
    width: 1.2rem;
    top: 5.6rem;
    left: 1.2rem;
    filter: invert(50%);
  }

  .btnChatBox:hover{
    filter: sepia(50%);
  }

  .btnChatBox:active{
    transform: scale(0.7);
    transition: 0.2s;
  }

 

  .pUser{
    font-weight: bold;
    margin: 0;
    padding: 0;

  }

  .pMensaje{
    margin: 0;
    padding: 0;
  }