h1{
    color: rgb(0, 0, 0);
}


thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}


.formul{
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
   
}

label{
    color: black;
    font-weight:900;
    margin-bottom: 5px;
    margin-top: 5px;
}

.btnEnviar{
    margin-top: 10px;
    align-items: center;
}


.chatBox{
    width: 200px;
    position: relative;
    top: 5.4rem;
    border-image: linear-gradient( to bottom, #777777, rgb(125 125 125) ) 1;
    color: #a29586;
    background-color: #27272a;
  
  
  }

  .messageP{
  
    top: 4rem;
    position: relative;
    width: 19rem;
    height: 15rem;
    margin: 0;
    padding: 0.3rem;
    color: #ae9e8e;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #27272a;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient( to bottom, #777777, rgb(125 125 125) ) 1;

}

.messageP::-webkit-scrollbar{
    width: 10px;
    height: 10px;
   

}

/* Track */
.messageP::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid #5c5d5c;
    border-radius: 1rem;
  }


   
  /* Handle */
  .messageP::-webkit-scrollbar-thumb {
    margin: 5px;
    padding: 5px;
    background: #403e3e;
    width: 1px;
    border-radius: 20%;
  }
  
  /* Handle on hover */
  .messageP::-webkit-scrollbar-thumb:hover {
    background: #5c5d5c; 
  }

  .messageP::-webkit-scrollbar-arrow {
    background-color: #ccc;
  }

  .btnChatBox{
    position: absolute;
    z-index: 11;
    width: 1.2rem;
    top: 26.2rem;
    left: 14.5rem;
    filter: invert(50%);
  }

  .btnChatBox:hover{
    filter: invert(100%);
  }

  .btnChatBox:active{
    transform: scale(0.7);
    transition: 0.2s;
  }

  .divCabezaChat{
    display: flex;
    margin-bottom: 5px;
  }

  .divChat{
    height: auto;
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0;

  }