<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css"> <!-- Archivo de la carpeta public es como poner href="localhost:8080../public/css/index.css"  -->
    <title>{{title}}</title>
</head>
<body>

    {{{body}}} <!--todo lo que contiene el body es la parte dinamica -->
    
</body>
</html>

<!-- es el contenedor que va a trabajar como padre
todo lo que contenga en body va a ser dinamico.
es una estructura estandar para contener todo lo que creemos en vistas.
layout significa diseño
views significa vistas (para productos, para usarios, etc)
si queremos usar motor de plantillas tenemos que usar la extension .handelbars
el main es la extension que maneja el motor de plantillas como tal.-->